# Database
DATABASE_URL="postgresql://user:pass@localhost:5432/origen_mestizo"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="rellena_una_clave_segura"

# Cloudinary
CLOUDINARY_URL="cloudinary://API_KEY:API_SECRET@CLOUD_NAME"

# Stripe (modo prueba)
STRIPE_SECRET_KEY="sk_test_..."
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_..."

# Opcional email (para NextAuth email provider)
EMAIL_SERVER=smtp://user:pass@smtp.example.com:587
EMAIL_FROM="no-reply@origen.test"